---
http_interactions:
- request:
    method: post
    uri: https://identity.openstack/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["password"],"password":{"user":{"name":"foobar","domain":{"id":"ca1b267e149d4e44bf53d28d1c8d6bc9"},"password":"foobar"}}},"scope":{"project":{"id":"6a030751147a45c0863c3b5bde32c744"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Subject-Token:
      - gAAAAABY9gADIIPjuErH15qNIh3yvv_8MDx_W4xBILNLGR5WFVxun3909M9COcY2vC-ME4Ksh_Q5UpylHiRy2JtHK-8cPMT2ZLeBFED2O5VTk1XEk2aAI5eDx3SD4G47WzuwkYZsuWCCyNgUjvMJWSadbHnbPZuS7eFADBu7fy19Nr1yAxXdkmaZXR3uO5bk9MwTPE1vjovT_QdSQ0q20HXFwg_RKz2FA7HqI3SX-VGFoLph9Fobpws
      X-Openstack-Request-Id:
      - req-b74494e1-4de7-49b1-876f-a8db3668f547
    body:
      encoding: UTF-8
      string: '{"token": {"methods": ["password"], "roles": [{"id": "57d36ec557534d73adf1a7d4f6500d18",
        "name": "cloud_sharedfilesystem_admin"}, {"id": "a64603dea1a24036953c9160e8707460",
        "name": "cloud_dns_admin"}, {"id": "e290d3a4683247909ca8a1dd79e59d6c", "name":
        "cloud_volume_admin"}, {"id": "05b4ba16ce874993aa61d38be046dfd6", "name":
        "cloud_keymanager_admin"}, {"id": "be4b16997dcc4afcbcc84c9348087f9c", "name":
        "swiftreseller"}, {"id": "d1c1cd5484214574bb4fbc6595def9a6", "name": "admin"},
        {"id": "1b8648900b3444ee817b0a8c698426ca", "name": "cloud_network_admin"},
        {"id": "c1a769d40182440d8d8a1fb38729787f", "name": "cloud_resource_admin"},
        {"id": "8c5286ffb08d4853a45f1dc1bfcbb61c", "name": "cloud_compute_admin"},
        {"id": "0e10d5464ae2409082928980193a0c00", "name": "cloud_image_admin"}],
        "is_admin_project": true, "project": {"domain": {"id": "ca1b267e149d4e44bf53d28d1c8d6bc9",
        "name": "foobar"}, "id": "6a030751147a45c0863c3b5bde32c744", "name": "cloud_admin"},
        "catalog": [{"endpoints": [{"region_id": "foobar", "url": "https://share-3.foobar.cloud.cluster:443/v2/6a030751147a45c0863c3b5bde32c744",
        "region": "foobar", "interface": "public", "id": "2f0623e5f9204d83931fd57a1fdb1123"},
        {"region_id": "foobar", "url": "http://manila-api.openstack.svc.kubernetes.foobar.cloud.cluster:8786/v2/6a030751147a45c0863c3b5bde32c744",
        "region": "foobar", "interface": "internal", "id": "988f5ca2e8de446db6a36f54045efeac"},
        {"region_id": "foobar", "url": "http://manila-api.openstack.svc.kubernetes.foobar.cloud.cluster:8786/v2/6a030751147a45c0863c3b5bde32c744",
        "region": "foobar", "interface": "admin", "id": "127042e3843d4fb9b62a79633f95ba15"}],
        "type": "sharev2", "id": "999ab682b1da4982ac2eaa6d16e2f620", "name": "manilav2"},
        {"endpoints": [{"region_id": "foobar", "url": "https://arc.foobar.cloud.cluster",
        "region": "foobar", "interface": "public", "id": "54a9c567c4be4fa7835133b024f8923f"}],
        "type": "arc", "id": "eb6ff7bc28d04a2783f665f011d6df62", "name": "Arc"}, {"endpoints":
        [{"region_id": "foobar", "url": "http://ironic-api.openstack.svc.kubernetes.foobar.cloud.cluster:6385",
        "region": "foobar", "inte[...]
- request:
    method: get
    uri: https://limes-3.foobar.cloud.cluster/v1/clusters/ccloud
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABY9gADIIPjuErH15qNIh3yvv_8MDx_W4xBILNLGR5WFVxun3909M9COcY2vC-ME4Ksh_Q5UpylHiRy2JtHK-8cPMT2ZLeBFED2O5VTk1XEk2aAI5eDx3SD4G47WzuwkYZsuWCCyNgUjvMJWSadbHnbPZuS7eFADBu7fy19Nr1yAxXdkmaZXR3uO5bk9MwTPE1vjovT_QdSQ0q20HXFwg_RKz2FA7HqI3SX-VGFoLph9Fobpws
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"cluster":{"id":"ccloud","services":[{"type":"compute","resources":[{"name":"cores","capacity":400,"comment":"counted
        them by hand","domains_quota":4216,"usage":135},{"name":"instances","capacity":200,"comment":"guesstimate","domains_quota":4146,"usage":57},{"name":"ram","unit":"MiB","domains_quota":4194304,"usage":82432}],"max_scraped_at":1492516695,"min_scraped_at":1492515431},{"type":"dns","resources":[{"name":"recordsets","domains_quota":1600,"usage":456},{"name":"zones","domains_quota":41,"usage":16}],"max_scraped_at":1492516695,"min_scraped_at":1492515768},{"type":"object-store","resources":[{"name":"capacity","unit":"B","domains_quota":20890720927744,"usage":1771634387561}],"max_scraped_at":1492516839,"min_scraped_at":1492515061},{"type":"volumev2","resources":[{"name":"capacity","unit":"GiB","domains_quota":14336,"usage":788},{"name":"snapshots","domains_quota":612,"usage":7},{"name":"volumes","domains_quota":612,"usage":37}],"max_scraped_at":1492516694,"min_scraped_at":1492515771}],"max_scraped_at":1492516414,"min_scraped_at":1492516414}}'
  recorded_at: Tue, 18 Apr 2017 12:01:05 GMT
- request:
    method: get
    uri: https://limes-3.foobar.cloud.cluster/v1/clusters/ccloud?resource=ram&service=compute
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABY9gADIIPjuErH15qNIh3yvv_8MDx_W4xBILNLGR5WFVxun3909M9COcY2vC-ME4Ksh_Q5UpylHiRy2JtHK-8cPMT2ZLeBFED2O5VTk1XEk2aAI5eDx3SD4G47WzuwkYZsuWCCyNgUjvMJWSadbHnbPZuS7eFADBu7fy19Nr1yAxXdkmaZXR3uO5bk9MwTPE1vjovT_QdSQ0q20HXFwg_RKz2FA7HqI3SX-VGFoLph9Fobpws
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"cluster":{"id":"ccloud","services":[{"type":"compute","resources":[{"name":"cores","capacity":400,"comment":"counted
        them by hand","domains_quota":4216,"usage":135},{"name":"ram","unit":"MiB","domains_quota":4194304,"usage":82432}],"max_scraped_at":1492516695,"min_scraped_at":1492515431}],"max_scraped_at":1492516414,"min_scraped_at":1492516414}}'
  recorded_at: Tue, 18 Apr 2017 12:01:05 GMT
- request:
    method: put
    uri: https://limes-3.foobar.cloud.cluster/v1/clusters/current
    body:
      encoding: UTF-8
      string: '{"cluster":{"services":[{"type":"compute","resources":[{"name":"instances","capacity":200,"comment":"guesstimate"},{"name":"cores","capacity":400,"comment":"counted
        them by hand"}]}]}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABY9gADIIPjuErH15qNIh3yvv_8MDx_W4xBILNLGR5WFVxun3909M9COcY2vC-ME4Ksh_Q5Upyl[...]
- request:
    method: get
    uri: https://limes-3.foobar.cloud.cluster/v1/clusters/ccloud?resource=instances&service=compute
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABY9gADIIPjuErH15qNIh3yvv_8MDx_W4xBILNLGR5WFVxun3909M9COcY2vC-ME4Ksh_Q5UpylHiRy2JtHK-8cPMT2ZLeBFED2O5VTk1XEk2aAI5eDx3SD4G47WzuwkYZsuWCCyNgUjvMJWSadbHnbPZuS7eFADBu7fy19Nr1yAxXdkmaZXR3uO5bk9MwTPE1vjovT_QdSQ0q20HXFwg_RKz2FA7HqI3SX-VGFoLph9Fobpws
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"cluster":{"id":"ccloud","services":[{"type":"compute","resources":[{"name":"cores","capacity":400,"comment":"counted
        them by hand","domains_quota":4216,"usage":135},{"name":"instances","capacity":200,"comment":"guesstimate","domains_quota":4146,"usage":57}],"max_scraped_at":1492516695,"min_scraped_at":1492515431}],"max_scraped_at":1492516414,"min_scraped_at":1492516414}}'
  recorded_at: Tue, 18 Apr 2017 12:01:05 GMT
[...]
- request:
    method: get
    uri: https://limes-3.foobar.cloud.cluster/v1/clusters/ccloud?resource=instances&service=compute
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABY9gADIIPjuErH15qNIh3yvv_8MDx_W4xBILNLGR5WFVxun3909M9COcY2vC-ME4Ksh_Q5UpylHiRy2JtHK-8cPMT2ZLeBFED2O5VTk1XEk2aAI5eDx3SD4G47WzuwkYZsuWCCyNgUjvMJWSadbHnbPZuS7eFADBu7fy19Nr1yAxXdkmaZXR3uO5bk9MwTPE1vjovT_QdSQ0q20HXFwg_RKz2FA7HqI3SX-VGFoLph9Fobpws
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"cluster":{"id":"ccloud","services":[{"type":"compute","resources":[{"name":"cores","capacity":500,"comment":"counted
        them by hand","domains_quota":4216,"usage":135},{"name":"instances","capacity":300,"comment":"guesstimate","domains_quota":4146,"usage":57}],"max_scraped_at":1492516695,"min_scraped_at":1492515431}],"max_scraped_at":1492516414,"min_scraped_at":1492516414}}'
  recorded_at: Tue, 18 Apr 2017 12:01:06 GMT
recorded_with: VCR 3.0.3
