---
http_interactions:
- request:
    method: post
    uri: https://identity.openstack/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["password"],"password":{"user":{"name":"foobar","domain":{"id":"ca1b267e149d4e44bf53d28d1c8d6bc9"},"password":"foobar"}}},"scope":{"project":{"id":"6a030751147a45c0863c3b5bde32c744"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Subject-Token:
      - gAAAAABY9c83xIOv1loBWObbPT-Z2WFQVHljcrRaJmtVgVCar0Yv8QO28zW18wesxX1xRUi9gkuq6e1Zs9r4LGniDsUUFmaJLOAeUwsxiQcH8vMo7fL9icmCboBmKIkkAR-WwOnyUShUP_uIutAhDNimIWNuknn3Cie_2To4-nBb0c4UxRRpfvB1c6dxKMk5tFAP7T4xi2ygm1r2Vj0RQOuZHs8in93bjOAgiKDDN4uhm1JiReJle3c
      X-Openstack-Request-Id:
      - req-028065de-7d3e-450b-80a4-500360209c4f
    body:
      encoding: UTF-8
      string: '{"token": {"methods": ["password"], "roles": [{"id": "57d36ec557534d73adf1a7d4f6500d18",
        "name": "cloud_sharedfilesystem_admin"}, {"id": "a64603dea1a24036953c9160e8707460",
        "name": "cloud_dns_admin"}, {"id": "e290d3a4683247909ca8a1dd79e59d6c", "name":
        "cloud_volume_admin"}, {"id": "05b4ba16ce874993aa61d38be046dfd6", "name":
        "cloud_keymanager_admin"}, {"id": "be4b16997dcc4afcbcc84c9348087f9c", "name":
        "swiftreseller"}, {"id": "d1c1cd5484214574bb4fbc6595def9a6", "name": "admin"},
        {"id": "1b8648900b3444ee817b0a8c698426ca", "name": "cloud_network_admin"},
        {"id": "c1a769d40182440d8d8a1fb38729787f", "name": "cloud_resource_admin"},
        {"id": "8c5286ffb08d4853a45f1dc1bfcbb61c", "name": "cloud_compute_admin"},
        {"id": "0e10d5464ae2409082928980193a0c00", "name": "cloud_image_admin"}],
        "is_admin_project": true, "project": {"domain": {"id": "ca1b267e149d4e44bf53d28d1c8d6bc9",
        "name": "foobar"}, "id": "6a030751147a45c0863c3b5bde32c744", "name": "cloud_admin"},
        "catalog": [{"endpoints": [{"url": "https://share-3.foobar.cloud.cluster:443/v2/6a030751147a45c0863c3b5bde32c744",
        "interface": "public", "region": "foobar", "region_id": "foobar", "id":
        "2f0623e5f9204d83931fd57a1fdb1123"}, {"url": "http://manila-api.openstack.svc.kubernetes.foobar.cloud.cluster:8786/v2/6a030751147a45c0863c3b5bde32c744",
        "interface": "internal", "region": "foobar", "region_id": "foobar", "id":
        "988f5ca2e8de446db6a36f54045efeac"}, {"url": "http://manila-api.openstack.svc.kubernetes.foobar.cloud.cluster:8786/v2/6a030751147a45c0863c3b5bde32c744",
        "interface": "admin", "region": "foobar", "region_id": "foobar", "id": "127042e3843d4fb9b62a79633f95ba15"}],
        "type": "sharev2", "id": "999ab682b1da4982ac2eaa6d16e2f620", "name": "manilav2"},
        {"endpoints": [{"url": "https://arc.foobar.cloud.cluster", "interface": "public",
        "region": "foobar", "region_id": "foobar", "id": "54a9c567c4be4fa7835133b024f8923f"}],
        "type": "arc", "id": "eb6ff7bc28d04a2783f665f011d6df62", "name": "Arc"}, {"endpoints":
        [{"url": "http://ironic-api.openstack.svc.kubernetes.foobar.cloud.cluster:6385",
        "interface": "internal", "region": "foobar", "re[...]
- request:
    method: get
    uri: https://limes-3.foobar.cloud.cluster/v1/clusters/ccloud
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABY9c83xIOv1loBWObbPT-Z2WFQVHljcrRaJmtVgVCar0Yv8QO28zW18wesxX1xRUi9gkuq6e1Zs9r4LGniDsUUFmaJLOAeUwsxiQcH8vMo7fL9icmCboBmKIkkAR-WwOnyUShUP_uIutAhDNimIWNuknn3Cie_2To4-nBb0c4UxRRpfvB1c6dxKMk5tFAP7T4xi2ygm1r2Vj0RQOuZHs8in93bjOAgiKDDN4uhm1JiReJle3c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"cluster":{"id":"ccloud","services":[{"type":"compute","resources":[{"name":"cores","domains_quota":4216,"usage":176},{"name":"instances","domains_quota":4146,"usage":59},{"name":"ram","unit":"MiB","domains_quota":4194304,"usage":83200}],"max_scraped_at":1492502818,"min_scraped_at":1492502808},{"type":"dns","resources":[{"name":"recordsets","domains_quota":1600,"usage":456},{"name":"zones","domains_quota":41,"usage":16}],"max_scraped_at":1492296629,"min_scraped_at":1492118498},{"type":"object-store","resources":[{"name":"capacity","unit":"B","domains_quota":20890720927744,"usage":1771080661290}],"max_scraped_at":1492504369,"min_scraped_at":1492502591},{"type":"volumev2","resources":[{"name":"capacity","unit":"GiB","domains_quota":14336,"usage":788},{"name":"snapshots","domains_quota":612,"usage":7},{"name":"volumes","domains_quota":612,"usage":37}],"max_scraped_at":1492503152,"min_scraped_at":1492503125}]}}'
  recorded_at: Tue, 18 Apr 2017 08:32:53 GMT
- request:
    method: get
    uri: https://limes-3.foobar.cloud.cluster/v1/clusters/ccloud?resource=ram&service=compute
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABY9c83xIOv1loBWObbPT-Z2WFQVHljcrRaJmtVgVCar0Yv8QO28zW18wesxX1xRUi9gkuq6e1Zs9r4LGniDsUUFmaJLOAeUwsxiQcH8vMo7fL9icmCboBmKIkkAR-WwOnyUShUP_uIutAhDNimIWNuknn3Cie_2To4-nBb0c4UxRRpfvB1c6dxKMk5tFAP7T4xi2ygm1r2Vj0RQOuZHs8in93bjOAgiKDDN4uhm1JiReJle3c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"cluster":{"id":"ccloud","services":[{"type":"compute","resources":[{"name":"cores","domains_quota":4216,"usage":176},{"name":"ram","unit":"MiB","domains_quota":4194304,"usage":83200}],"max_scraped_at":1492502818,"min_scraped_at":1492502808}]}}'
  recorded_at: Tue, 18 Apr 2017 08:32:53 GMT
recorded_with: VCR 3.0.3
