---
http_interactions:
- request:
    method: post
    uri: https://identity.openstack/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["password"],"password":{"user":{"name":"test_admin","domain":{"id":"d247861f96094b689d1b358513638296"},"password":"foobar"}}},"scope":{"domain":{"id":"d247861f96094b689d1b358513638296"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Subject-Token:
      - gAAAAABY9020unbzWpzN8y_0OTPCn9k7nI2ToWJAXw_zv_FQh82prLkah5Sm5OcS3qB1hZcjxlnNmg419t9n2TTDo-eXbLcFq6knfkZl5ZdyCQTdADL1Km8ujk7Gg5OLvevfDAifN83O1QLVZb3iLUDQ_jW4u9PBipg9FHr2jkNS24GvIHgzYCJosnnttvpgoQ8-o8zFaP52B6WPTNH95TxG1aiAwgh4DZkb7SsfV9cs1ONEeGdF1SM
      X-Openstack-Request-Id:
      - req-ff5e24f3-05de-4bb7-b54c-1de635f82de3
    body:
      encoding: UTF-8
      string: '{"token": {"domain": {"id": "d247861f96094b689d1b358513638296", "name":
        "foobar"}, "methods": ["password"], "roles": [{"id": "d1c1cd5484214574bb4fbc6595def9a6",
        "name": "admin"}, {"id": "6ee048ff73234dfd8ffe5e6c9fefd117", "name": "network_admin"},
        {"id": "df6f218971184020af05a9788ca4c0b9", "name": "member"}, {"id": "7949d9f70f41451b9b31232f1991af08",
        "name": "resource_admin"}], "expires_at": "2017-04-19T19:44:52.000000Z", "catalog":
        [{"endpoints": [], "type": "sharev2", "id": "999ab682b1da4982ac2eaa6d16e2f620",
        "name": "manilav2"}, {"endpoints": [{"url": "https://arc.foobar.cloud.cluster",
        "interface": "public", "region": "foobar", "region_id": "foobar", "id":
        "54a9c567c4be4fa7835133b024f8923f"}], "type": "arc", "id": "eb6ff7bc28d04a2783f665f011d6df62",
        "name": "Arc"}, {"endpoints": [{"url": "http://ironic-api.openstack.svc.kubernetes.foobar.cloud.cluster:6385",
        "interface": "internal", "region": "foobar", "region_id": "foobar", "id":
        "d6fa2fe8b1fa434b883fe3328fbdbda5"}, {"url": "https://baremetal-3.foobar.cloud.cluster:443",
        "interface": "public", "region": "foobar", "region_id": "foobar", "id"[...]
- request:
    method: get
    uri: https://limes-3.foobar.cloud.cluster/v1/domains/d247861f96094b689d1b358513638296/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABY9020unbzWpzN8y_0OTPCn9k7nI2ToWJAXw_zv_FQh82prLkah5Sm5OcS3qB1hZcjxlnNmg419t9n2TTDo-eXbLcFq6knfkZl5ZdyCQTdADL1Km8ujk7Gg5OLvevfDAifN83O1QLVZb3iLUDQ_jW4u9PBipg9FHr2jkNS24GvIHgzYCJosnnttvpgoQ8-o8zFaP52B6WPTNH95TxG1aiAwgh4DZkb7SsfV9cs1ONEeGdF1SM
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"projects":[{"id":"17260658123143789e09149833ed4d72","name":"test_billing_sub_project","services":[{"type":"compute","resources":[{"name":"cores","quota":0,"usage":0},{"name":"instances","quota":0,"usage":0},{"name":"ram","unit":"MiB","quota":0,"usage":0}],"scraped_at":1492601042},{"type":"dns","resources":[{"name":"recordsets","quota":0,"usage":0},{"name":"zones","quota":0,"usage":0}],"scraped_at":1492601311},{"type":"object-store","resources":[{"name":"capacity","unit":"B","quota":0,"usage":0}],"scraped_at":1492601483},{"type":"volumev2","resources":[{"name":"capacity","unit":"GiB","quota":0,"usage":0},{"name":"snapshots","quota":0,"usage":0},{"name":"volumes","quota":0,"usage":0}],"scraped_at":1492601186}]},{"id":"4c9e992973bc469fba56e9aa4b1b94a8","name":"t[...]
- request:
    method: get
    uri: https://limes-3.foobar.cloud.cluster/v1/domains/d247861f96094b689d1b358513638296/projects?resource=ram&service=compute
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABY9020unbzWpzN8y_0OTPCn9k7nI2ToWJAXw_zv_FQh82prLkah5Sm5OcS3qB1hZcjxlnNmg419t9n2TTDo-eXbLcFq6knfkZl5ZdyCQTdADL1Km8ujk7Gg5OLvevfDAifN83O1QLVZb3iLUDQ_jW4u9PBipg9FHr2jkNS24GvIHgzYCJosnnttvpgoQ8-o8zFaP52B6W[...]
