---
http_interactions:
- request:
    method: post
    uri: https://identity.openstack/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["password"],"password":{"user":{"name":"foobar","domain":{"id":"ca1b267e149d4e44bf53d28d1c8d6bc9"},"password":"foobar"}}},"scope":{"project":{"id":"6a030751147a45c0863c3b5bde32c744"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Subject-Token:
      - gAAAAABY7g70SIg_SIMCjc0RY7amJlhB3QjM-3uu72xOGY8SR_hD8ryBxGiqNskvBijCXsOAamLP-fvp7K2uhaqoxSog_5NCta_TMxfAy2qR8u2CTHfZxvYb1gUeG8UjXz8iEllWdr2aT1V9BYl79O4M1SB93-aXDlC5p2bjpTZxzyxCU0HlD2UDkQGcKQ3K5VKnBkgIx2V6qS0aPH8r324KGo_9SsbVyvuOZvcxD2T9RTdMl1TRBMk
      X-Openstack-Request-Id:
      - req-7b3c6ab9-2c5d-41a1-ac06-801c3c1b950a
    body:
      encoding: UTF-8
      string: '{"token": {"methods": ["password"], "roles": [{"id": "57d36ec557534d73adf1a7d4f6500d18",
        "name": "cloud_sharedfilesystem_admin"}, {"id": "a64603dea1a24036953c9160e8707460",
        "name": "cloud_dns_admin"}, {"id": "e290d3a4683247909ca8a1dd79e59d6c", "name":
        "cloud_volume_admin"}, {"id": "05b4ba16ce874993aa61d38be046dfd6", "name":
        "cloud_keymanager_admin"}, {"id": "be4b16997dcc4afcbcc84c9348087f9c", "name":
        "swiftreseller"}, {"id": "d1c1cd5484214574bb4fbc6595def9a6", "name": "admin"},
        {"id": "1b8648900b3444ee817b0a8c698426ca", "name": "cloud_network_admin"},
        {"id": "c1a769d40182440d8d8a1fb38729787f", "name": "cloud_resource_admin"},
        {"id": "8c5286ffb08d4853a45f1dc1bfcbb61c", "name": "cloud_compute_admin"},
        {"id": "0e10d5464ae2409082928980193a0c00", "name": "cloud_image_admin"}],
        "is_admin_project": true, "project": {"domain": {"id": "ca1b267e149d4e44bf53d28d1c8d6bc9",
        "name": "foobar"}, "id": "6a030751147a45c0863c3b5bde32c744", "name": "cloud_admin"},
        "catalog": [{"endpoints": [{"url": "https://share-3.foobar.cloud.cluster:443/v2/6a030751147a45c0863c3b5bde32c744",
        "interface": "public", "region": "foobar", "region_id": "foobar", "id":
        "2f0623e5f9204d83931fd57a1fdb1123"}, {"url": "http://manila-api.openstack.svc.kubernetes.foobar.cloud.cluster:8786/v2/6a030751147a45c0863c3b5bde32c744",
        "interface": "internal", "region": "foobar", "region_id": "foobar", "id":
        "988f5ca2e8de446db6a36f54045efeac"}, {"url": "http://manila-api.openstack.svc.kubernetes.foobar.cloud.cluster:8786/v2/6a030751147a45c0863c3b5bde32c744",
        "interface": "admin", "region": "foobar", "region_id": "foobar", "id": "127042e3843d4fb9b62a79633f95ba15"}],
        "type": "sharev2", "id": "999ab682b1da4982ac2eaa6d16e2f620", "name": "manilav2"},
        {"endpoints": [{"url": "https://arc.foobar.cloud.cluster", "interface": "public",
        "region": "foobar", "region_id": "foobar", "id": "54a9c567c4be4fa7835133b024f8923f"}],
        "type": "arc", "id": "eb6ff7bc28d04a2783f665f011d6df62", "name": "Arc"}, {"endpoints":
        [{"url": "http://ironic-api.openstack.svc.kubernetes.foobar.cloud.cluster:6385",
        "interface": "internal", "region": "foobar", "re[...]
- request:
    method: get
    uri: https://limes-3.foobar.cloud.cluster/v1/domains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABY7g70SIg_SIMCjc0RY7amJlhB3QjM-3uu72xOGY8SR_hD8ryBxGiqNskvBijCXsOAamLP-fvp7K2uhaqoxSog_5NCta_TMxfAy2qR8u2CTHfZxvYb1gUeG8UjXz8iEllWdr2aT1V9BYl79O4M1SB93-aXDlC5p2bjpTZxzyxCU0HlD2UDkQGcKQ3K5VKnBkgIx2V6qS0aPH8r324KGo_9SsbVyvuOZvcxD2T9RTdMl1TRBMk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"domains":[{"id":"2ddc08dc830e41a5890d5228195a54b8","name":"hcm","services":[{"type":"compute","resources":[{"name":"cores","quota":0,"projects_quota":0,"usage":0},{"name":"instances","quota":0,"projects_quota":0,"usage":0},{"name":"ram","unit":"MiB","quota":0,"projects_quota":0,"usage":0}],"max_scraped_at":1491994971,"min_scraped_at":1491994960},{"type":"dns","resources":[{"name":"recordsets","quota":0,"projects_quota":0,"usage":0},{"name":"zones","quota":0,"projects_quota":0,"usage":0}],"max_scraped_at":1491985270,"min_scraped_at":1491985169},{"type":"object-store","resources":[{"name":"capacity","unit":"B","quota":0,"projects_quota":0,"usage":0}],"max_scraped_at":1491994798,"min_scraped_at":1491994797},{"type":"volumev2","resources":[{"name":"capacity","unit":"GiB","quota":0,"projects_quota":0,"usage":0},{"name":"snapshots","quota":0,"projects_quota":0,"usage":0},{"name":"volumes","quota":0,"projects_quota":0,"usage":0}],"max_scraped_at":1491995208,"min_scraped_at":1491994821}]},{"id":"39a253e16e4a4a3686edca72c8e101bc","name":"openstack","services":[{"type":"compute","resources":[{"name":"cores","quota":4096,"projects_quota":902,"usage":60},{"name":"instances","quota":4096,"projects_quota":621,"usage":42},{"name":"ram","unit":"MiB","quota":1048576,"projects_quota":750080,"usage":71168}],"max_scraped_at":1491996362,"min_scraped_at":1491994652},{"type":"dns","resources":[{"name":"recordsets","quota":500,"projects_quota":383,"usage":354,"backend_quota":353},{"name":"zones","quota":20,"projects_quota":12,"usage":5,"backend_quota":6}],"max_scraped_at":1491985538,"min_scraped_at":1491984266},{"type":"object-store","resources":[{"name":"capacity","unit":"B","quota":12094627905536,"projects_quota":2010817232896,"usage":9417813435}],"max_scraped_at":1491994801,"min_scraped_at":1491994794},{"type":"volumev2","resources":[{"name":"capacity","unit":"GiB","quota":4096,"projects_quota":1896,"usage":655,"backend_quota":16},{"name":"snapshots","quota":512,[...]
- request:
    method: get
    uri: https://limes-3.foobar.cloud.cluster/v1/domains?resource=ram&service=compute
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABY7g70SIg_SIMCjc0RY7amJlhB3QjM-3uu72xOGY8SR_hD8ryBxGiqNskvBijCXsOAamLP-fvp7K2uhaqoxSog_5NCta_TMxfAy2qR8u2CTHfZxvYb1gUeG8UjXz8iEllWdr2aT1V9BYl79O4M1SB93-aXDlC5p2bjpTZxzyxCU0HlD2UDkQGcKQ3K5VKnBkgIx2V6qS0aPH8r324KGo_9SsbVyvuOZvcxD2T9RTdMl1TRBMk
 [...]
- request:
    method: post
    uri: https://limes-3.foobar.cloud.cluster/v1/domains/discover
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABY7g70SIg_SIMCjc0RY7amJlhB3QjM-3uu72xOGY8SR_hD8ryBxGiqNskvBijCXsOAamLP-fvp7K2uhaqoxSog_5NCta_TMxfAy2qR8u2CTHfZxvYb1gUeG8UjXz8iEllWdr2aT1V9BYl79O4M1SB93-aXDlC5p2bjpTZxzyxCU0HlD2UDkQGcKQ3K5VKnBkgIx2V6qS0aPH8r324KGo_9SsbVyvuOZvcxD2T9RTdMl1TRBMk
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 12 Apr 2017 11:26:42 GMT
recorded_with: VCR 3.0.3
