---
http_interactions:
- request:
    method: post
    uri: https://identity.openstack/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["password"],"password":{"user":{"name":"test_admin","domain":{"id":"d247861f96094b689d1b358513638296"},"password":"foobar"}}},"scope":{"project":{"id":"749899ac305441a086478b40eb4c18cd"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Subject-Token:
      - gAAAAABY9f9TEwoJjH6AQmYGzr9v-bYxthjNxoJxX9syG1NPqO6S4Em7YM877kbYIIHB4hLsWYVLuV3HOicq2VPakEwtN2KaCd4eE5fUNOMEzwI1sI4WAodZ1KwG8Lw6gKTBXZ7xEqrHiqZme3vtF3zhTVm-PMRncYX6DlqPMWMIwQgPgGE2Ch7DTRY-Xdd8Yg4UYxzJwQPnwZ2gFDnKDGegCVlRja_AQOYuN23fxx6GqNepkc4KuLQ
      X-Openstack-Request-Id:
      - req-e1b26947-d62a-467e-ab38-35eddc79111f
    body:
      encoding: UTF-8
      string: '{"token": {"methods": ["password"], "roles": [{"id": "d1c1cd5484214574bb4fbc6595def9a6",
        "name": "admin"}, {"id": "6ee048ff73234dfd8ffe5e6c9fefd117", "name": "network_admin"},
        {"id": "df6f218971184020af05a9788ca4c0b9", "name": "member"}], "expires_at":
        "2017-04-18T19:58:11.000000Z", "project": {"domain": {"id": "d247861f96094b689d1b358513638296",
        "name": "foobar"}, "id": "749899ac305441a086478b40eb4c18cd", "name": "limes-test"},
        "catalog": [{"endpoints": [{"url": "https://share-3.foobar.cloud.cluster:443/v2/749899ac305441a086478b40eb4c18cd",
        "interface": "public", "region": "foobar", "region_id": "foobar", "id":
        "2f0623e5f9204d83931fd57a1fdb1123"}, {"url": "http://manila-api.openstack.svc.kubernetes.foobar.cloud.cluster:8786/v2/749899ac305441a086478b40eb4c18cd",
        "interface": "internal", "region": "foobar", "region_id": "foobar", "id":
        "988f5ca2e8de446db6a36f54045efeac"}, {"url": "http://manila-api.openstack.svc.kubernetes.foobar.cloud.cluster:8786/v2/749899ac305441a086478b40eb4c18cd",
        "interface": "admin", "region": "foobar", "region_id": "foobar", "id": "127042e3843d4fb9b62a79633f95ba15"}],
        "type": "sharev2", "id": "999ab682b1da4982ac2eaa6d16e2f620", "name": "manilav2"},
        {"endpoints": [{"url": "https://arc.foobar.cloud.cluster", "interface": "public",
        "region": "foobar", "region_id": "foobar", "id": "54a9c567c4be4fa7835133b024f8923f"}],
        "type": "arc", "id": "eb6ff7bc28d04a2783f665f011d6df62", "name": "Arc"}, {"endpoints":
        [{"url": "http://ironic-api.openstack.svc.kubernetes.foobar.cloud.cluster:6385",
        "interface": "internal", "region": "foobar", "re[...]
- request:
    method: get
    uri: https://limes-3.foobar.cloud.cluster/v1/domains/d247861f96094b689d1b358513638296/projects/749899ac305441a086478b40eb4c18cd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABY9f9TEwoJjH6AQmYGzr9v-bYxthjNxoJxX9syG1NPqO6S4Em7YM877kbYIIHB4hLsWYVLuV3HOicq2VPakEwtN2KaCd4eE5fUNOMEzwI1sI4WAodZ1KwG8Lw6gKTBXZ7xEqrHiqZme3vtF3zhTVm-PMRncYX6DlqPMWMIwQgPgGE2Ch7DTRY-Xdd8Yg4UYxzJwQPnwZ2gFDnKDGegCVlRja_AQOYuN23fxx6GqNepkc4KuLQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"id":"749899ac305441a086478b40eb4c18cd","name":"limes-test","services":[{"type":"compute","resources":[{"name":"cores","quota":10,"usage":0},{"name":"instances","quota":10,"usage":0},{"name":"ram","unit":"MiB","quota":0,"usage":0}],"scraped_at":1492516634},{"type":"dns","resources":[{"name":"recordsets","quota":0,"usage":0},{"name":"zones","quota":0,"usage":0}],"scraped_at":1492516634},{"type":"object-store","resources":[{"name":"capacity","unit":"B","quota":0,"usage":0}],"scraped_at":1492516638},{"type":"volumev2","resources":[{"name":"capacity","unit":"GiB","quota":0,"usage":0},{"name":"snapshots","quota":0,"usage":0},{"name":"volumes","quota":0,"usage":0}],"scraped_at":1492516634}]}}'
  recorded_at: Tue, 18 Apr 2017 11:58:09 GMT
- request:
    method: get
    uri: https://limes-3.foobar.cloud.cluster/v1/domains/d247861f96094b689d1b358513638296/projects/749899ac305441a086478b40eb4c18cd?resource=ram&service=compute
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABY9f9TEwoJjH6AQmYGzr9v-bYxthjNxoJxX9syG1NPqO6S4Em7YM877kbYIIHB4hLsWYVLuV3HOicq2VPakEwtN2KaCd4eE5fUNOMEzwI1sI4WAodZ1KwG8Lw6gKTBXZ7xEqrHiqZme3vtF3zhTVm-PMRncYX6DlqPMWMIwQgPgGE2Ch7DTRY-Xdd8Yg4UYxzJwQPnwZ2gFDnKDGegCVlRja_AQOYuN23fxx6GqNepkc4KuLQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"project":{"id":"749899ac305441a086478b40eb4c18cd","name":"limes-test","services":[{"type":"compute","resources":[{"name":"cores","quota":10,"usage":0},{"name":"ram","unit":"MiB","quota":0,"usage":0}],"scraped_at":1492516634}]}}'
  recorded_at: Tue, 18 Apr 2017 11:58:09 GMT
- request:
    method: post
    uri: https://limes-3.foobar.cloud.cluster/v1/domains/d247861f96094b689d1b358513638296/projects/749899ac305441a086478b40eb4c18cd/sync
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABY9f9TEwoJjH6AQmYGzr9v-bYxthjNxoJxX9syG1NPqO6S4Em7YM877kbYIIHB4hLsWYVLuV3HOicq2VPakEwtN2KaCd4eE5fUNOMEzwI1sI4WAodZ1KwG8Lw6gKTBXZ7xEqrHiqZme3vtF3zhTVm-PMRncYX6DlqPMWMIwQgPgGE2Ch7DTRY-Xdd8Yg4UYxzJwQPnwZ2gFDnKDGegCVlRja_AQOYuN23fxx6GqNepkc4KuLQ
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 18 Apr 2017 11:58:09 GMT
recorded_with: VCR 3.0.3
