---
http_interactions:
- request:
    method: post
    uri: https://identity.openstack/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["password"],"password":{"user":{"name":"foobar","domain":{"id":"ca1b267e149d4e44bf53d28d1c8d6bc9"},"password":"foobar"}}},"scope":{"project":{"id":"6a030751147a45c0863c3b5bde32c744"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Subject-Token:
      - gAAAAABY629I7jA-37FQZlTJUC_ZIGzwSFiTYQNxNjOe_QFZ6ovgfsSOSS_OJeLRTwsZa7J2il2w5QejIXSQCMnpeFQCzS9AGWktOhL4G52LTE3lqXy7le2-VVnUKfDV_301aAAC7h_zIzhjxZSkmmFEJSYTIp1oe7Q3xETG1fraSFOy_2Ma1ETLJ0mHD9gkLqfNAXSiFONXruK5AO5yrpCmNP5fQnt7UXcHPRTGSlUAjnXCmCMEPAc
      X-Openstack-Request-Id:
      - req-34bd26e8-f021-4860-bb8a-4948e85686e0
    body:
      encoding: UTF-8
      string: '{"token": {"methods": ["password"], "roles": [{"id": "57d36ec557534d73adf1a7d4f6500d18",
        "name": "cloud_sharedfilesystem_admin"}, {"id": "a64603dea1a24036953c9160e8707460",
        "name": "cloud_dns_admin"}, {"id": "e290d3a4683247909ca8a1dd79e59d6c", "name":
        "cloud_volume_admin"}, {"id": "05b4ba16ce874993aa61d38be046dfd6", "name":
        "cloud_keymanager_admin"}, {"id": "be4b16997dcc4afcbcc84c9348087f9c", "name":
        "swiftreseller"}, {"id": "d1c1cd5484214574bb4fbc6595def9a6", "name": "admin"},
        {"id": "1b8648900b3444ee817b0a8c698426ca", "name": "cloud_network_admin"},
        {"id": "c1a769d40182440d8d8a1fb38729787f", "name": "cloud_resource_admin"},
        {"id": "8c5286ffb08d4853a45f1dc1bfcbb61c", "name": "cloud_compute_admin"},
        {"id": "0e10d5464ae2409082928980193a0c00", "name": "cloud_image_admin"}],
        "is_admin_project": true, "project": {"domain": {"id": "ca1b267e149d4e44bf53d28d1c8d6bc9",
        "name": "foobar"}, "id": "6a030751147a45c0863c3b5bde32c744", "name": "cloud_admin"},
        "catalog": [{"endpoints": [{"region_id": "foobar", "url": "https://share-3.foobar.cloud.cluster:443/v2/6a030751147a45c0863c3b5bde32c744",
        "region": "foobar", "interface": "public", "id": "2f0623e5f9204d83931fd57a1fdb1123"},
        {"region_id": "foobar", "url": "http://manila-api.foobar.svc.kubernetes.foobar.cloud.cluster:8786/v2/6a030751147a45c0863c3b5bde32c744",
        "region": "foobar", "interface": "internal", "id": "988f5ca2e8de446db6a36f54045efeac"},
        {"region_id": "foobar", "url": "http://manila-api.foobar.svc.kubernetes.foobar.cloud.cluster:8786/v2/6a030751147a45c0863c3b5bde32c744",
        "region": "foobar", "interface": "admin", "id": "127042e3843d4fb9b62a79633f95ba15"}],
        "type": "sharev2", "id": "999ab682b1da4982ac2eaa6d16e2f620", "name": "manilav2"},
        {"endpoints": [{"region_id": "foobar", "url": "https://arc.foobar.cloud.cluster:443",
        "region": "foobar", "interface": "public", "id": "54a9c567c4be4fa7835133b024f8923f"}],
        "type": "arc", "id": "eb6ff7bc28d04a2783f665f011d6df62", "name": "Arc"}, {"endpoints":
        [{"region_id": "foobar", "url": "http://ironic-api.foobar.svc.kubernetes.foobar.cloud.cluster:6385",
        "region": "foobar", "int[...]
- request:
    method: get
    uri: https://limes-3.foobar.cloud.cluster/v1/domains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABY629I7jA-37FQZlTJUC_ZIGzwSFiTYQNxNjOe_QFZ6ovgfsSOSS_OJeLRTwsZa7J2il2w5QejIXSQCMnpeFQCzS9AGWktOhL4G52LTE3lqXy7le2-VVnUKfDV_301aAAC7h_zIzhjxZSkmmFEJSYTIp1oe7Q3xETG1fraSFOy_2Ma1ETLJ0mHD9gkLqfNAXSiFONXruK5AO5yrpCmNP5fQnt7UXcHPRTGSlUAjnXCmCMEPAc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"domains":[{"id":"2ddc08dc830e41a5890d5228195a54b8","services":[{"type":"compute","resources":[{"name":"cores","quota":0,"projects_quota":0,"usage":0},{"name":"instances","quota":0,"projects_quota":0,"usage":0},{"name":"ram","unit":"MiB","quota":0,"projects_quota":0,"usage":0}],"max_scraped_at":1491824189,"min_scraped_at":1491824188},{"type":"dns","resources":[{"name":"recordsets","quota":0,"projects_quota":0,"usage":0},{"name":"zones","quota":0,"projects_quota":0,"usage":0}],"max_scraped_at":1491823470,"min_scraped_at":1491823416},{"type":"object-store","resources":[{"name":"capacity","unit":"B","quota":0,"projects_quota":0,"usage":0}],"max_scraped_at":1491823888,"min_scraped_at":1491823887},{"type":"volumev2","resources":[{"name":"capacity","unit":"GiB","quota":0,"projects_quota":0,"usage":0},{"name":"snapshots","quota":0,"projects_quota":0,"usage":0},{"name":"volumes","quota":0,"projects_quota":0,"usage":0}],"max_scraped_at":1491823946,"min_scraped_at":1491823916}]},{"id":"39a253e16e4a4a3686edca72c8e101bc","services":[{"type":"compute","resources":[{"name":"cores","quota":4096,"projects_quota":902,"usage":220},{"name":"instances","quota":4096,"projects_quota":616,"usage":44},{"name":"ram","unit":"MiB","quota":1048576,"projects_quota":750080,"usage":73472}],"max_scraped_at":1491824186,"min_scraped_at":1491824000},{"type":"dns","resources":[{"name":"recordsets","quota":500,"projects_quota":383,"usage":354,"backend_quota":353},{"name":"zones","quota":20,"projects_quota":12,"usage":8,"backend_quota":6}],"max_scraped_at":1491823851,"min_scraped_at":1491822811},{"type":"object-store","resources":[{"name":"capacity","unit":"B","quota":12094627905536,"projects_quota":2010817232896,"usage":9417813435}],"max_scraped_at":1491823890,"min_scraped_at":1491823744},{"type":"volumev2","resources":[{"name":"capacity","unit":"GiB","quota":4096,"projects_quota":1896,"usage":655,"backend_quota":0},{"name":"snapshots","quota":512,"[...]
- request:
    method: get
    uri: https://limes-3.foobar.cloud.cluster/v1/domains?service=compute
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABY629I7jA-37FQZlTJUC_ZIGzwSFiTYQNxNjOe_QFZ6ovgfsSOSS_OJeLRTwsZa7J2il2w5QejIXSQCMnpeFQCzS9AGWktOhL4G52LTE3lqXy7le2-VVnUKfDV_301aAAC7h_zIzhjxZSkmmFEJSYTIp1oe7Q3xETG1fraSFOy_2Ma1ETLJ0mHD9gkLqfNAXSiFONXruK5AO5yrpCmNP5fQnt7UXcHPRTGSlUAjnXCmCMEPAc
  response:
  [...]
- request:
    method: get
    uri: https://limes-3.foobar.cloud.cluster/v1/domains?resource=cores&service=compute
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABY629I7jA-37FQZlTJUC_ZIGzwSFiTYQNxNjOe_QFZ6ovgfsSOSS_OJeLRTwsZa7J2il2w5QejIXSQCMnpeFQCzS9AGWktOhL4G52LTE3lqXy7le2-VVnUKfDV_301aAAC7h_zIzhjxZSkmmFEJSYTIp1oe7Q3xETG1fraSFOy_2Ma1ETLJ0mHD9gkLqfNAXSiFONXruK5AO5yrpCmNP5fQnt7UXcHPRTGSlUAjnXCmCMEPAc[...]
- request:
    method: post
    uri: https://limes-3.foobar.cloud.cluster/v1/domains/discover
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - gAAAAABY629I7jA-37FQZlTJUC_ZIGzwSFiTYQNxNjOe_QFZ6ovgfsSOSS_OJeLRTwsZa7J2il2w5QejIXSQCMnpeFQCzS9AGWktOhL4G52LTE3lqXy7le2-VVnUKfDV_301aAAC7h_zIzhjxZSkmmFEJSYTIp1oe7Q3xETG1fraSFOy_2Ma1ETLJ0mHD9gkLqfNAXSiFONXruK5AO5yrpCmNP5fQnt7UXcHPRTGSlUAjnXCmCMEPAc
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Apr 2017 11:40:55 GMT
recorded_with: VCR 3.0.3
